<ion-header>
  <ion-toolbar>
    <ion-title>Página del Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, Profesor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ nombre }}
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="seleccionarClaseYSeccion()" class="ion-margin-top">Seleccionar Clase y Sección</ion-button>

  <br>
  <div *ngIf="qrData" class="qr-container">
    <h2>Clase: {{ claseSeleccionada }}</h2>
    <h3>Sección: {{ seccionSeleccionada }}</h3>
    <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </div>

  <ion-button expand="block" (click)="olawe()" class="ion-margin-top">Ver Asistencia</ion-button>

 

  <ion-button expand="block" (click)="logout()" class="ion-margin-top">Cerrar Sesión</ion-button>
</ion-content>